@model SquareApplication.Models.AccountProfileViewModel

<head>
    <script src="/Scripts/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="/Scripts/app/script.js" type="text/javascript"></script>
</head>

@{
    ViewBag.Title = "UserProfile";
}

<div class="container" style="margin-top: 150px;">
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
                <a href="#_ChangeProfileSettingsTab"
                   data-toggle="tab">Your profile</a>
            </li>
            @if (User.IsInRole("Designer"))
            {
                <li>
                    <a href="#_UserActivityTab" data-toggle="tab">Activity</a>
                </li>
            }

        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane  active" id="_ChangeProfileSettingsTab">
                <div class="row header">
                    @{Html.RenderPartial("_ChangeProfileSettings", this.ViewData.Model.ChangeProfileViewModel);}
                </div>
            </div>
            @if (User.IsInRole("Designer"))
            {
                <div class="tab-pane" id="_UserActivityTab">
                    <div class="row header">
                        @{Html.RenderPartial("_UserActivity", this.ViewData.Model.UserActivityViewModel);}
                    </div>
                </div>
            }
        </div>
    </div>
</div>
