.blockDisplay{
    display: block;
}
.halfSize{
    transform: scale(0.1);;
}

/* Pulse http://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.94);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    /*animation*/
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5;
}

.orangeOverlay{
    background-color: #D36A48;
    opacity: 0.5;
}
.arrangedTiles{
    height: 100px;
    width: 100px;
    display: inline-block;
    box-shadow: 0 2px 4px #919890;
    margin:3.3%;
}
.arrangedTiles [draggable] {
    transform: scale(0.5);;

}

.productGridItem img :active{
    -webkit-animation:hue 60s infinite linear;

}
/*Product Grid*/



.square50{
   width: 50px;
    height: 50px;
    margin-right: 50px;
    border:0px;
}

/* REsponsive Grid*/

/*preview*/

.previewImage{
    width: 100%;
    height:100%;
    /*padding: calc(40%/4);*/
    border: 1px;

}

.productGridContainer{
    /*padding: 0.1% 0 0.1% 0;*/
    display: inline-block;
    width:60%;
    float:left;
    height: inherit;
}

.productGridItem{
    background-color: #f3f3f3;
    width: calc(20% - 2px);
    height: calc(60%/5);
    display: inline-block;
    /*margin: 0 1% 2% 1%;*/
    border: solid 1px rgba(158, 155, 155, 0.23);
    /*border-radius: 4px;*/
        margin-bottom: -3px;

}

.ourContainer {
    margin:150px 50px 0 50px;
    height: 73vh;
    width: auto;
}
/*needs a fix in a media query and remove the min-width after*/
.inlineImageContainer{
    display: inline-block;
    max-width: 400px;
    width:30%;
    background-color: rgba(211, 211, 211, 0.54);
    padding: calc(40%/8);
    float:right;
    white-space: nowrap;
    height: initial;

}

.overflowImages{
    overflow-y: auto;
background: rgba(255, 255, 255, 0.77);
    margin-top: 20px;
}


@media screen and (min-width: 0px) {

    .ourContainer{
        margin: 150px 0 0 0;
    }
    .square50{
        margin-right: 10px ;
    }
}


@media screen and (min-width: 768px) {
    .ourContainer{
        margin: 150px 0 0 0;
    }

    .productGridContainer{
        padding:0;
    }


}

@media screen and (min-width: 991px) {
    .ourContainer{
        margin: 150px 0 0 0;
    }

}
@media screen and (min-width: 1200px){

}

/*Scrollbar*/

.inlineImageContainer > ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.inlineImageContainer > ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
}

.inlineImageContainer >::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}




