body {
    margin: 0;
    background: #000;
    margin-top: 100px;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
    opacity: .5;
}

.body-content {
    margin-top: 150px;
}
.square200 {
  height: 100px;
  width: 100px;
  color: white;
  -webkit-border-radius: 0;
  -ms-border-radius: 0; }

#blueSquare {
    background: #75A48B;
    line-height: 100px;
    text-align: center;
    margin-left: 15px;
    display: inline-block;
    float: left;
}

#redSquare {
    display: inline-block;
    float: right;
    background: #EC2F39;
    line-height: 100px;
    text-align: center;
    margin-right: 15px;
}

#polina {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin:2rem;
    float: right;
    font-size: 1.2rem;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
    margin-bottom: 75px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,1);
    
}
#polina button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}
#polina button:hover {
    background: rgba(0,0,0,0.5);
}

main {
    text-align: center;
}

.link200r {
    float: right;
}

.link200l {
    float:left
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;

  
    transition: .6s background;
}

@media screen and (max-width: 500px) {
    div{width:70%;}

     #redSquare {
         position: absolute;
         left: 165px;
         top: 574px
    }

    #blueSquare {
        position: absolute;
        left: 150px;
    }
}
@media screen and (max-device-width: 800px) {
    html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
    #bgvid { display: none; }

   
}