@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" href="../../Content/css/about.css" />

</head>


<div class="abouttitle text-center">
  
    <h2>Get an unique piece of art from your personal designer</h2>
   

    <div class="aboutsubtitle">
        <h2>You are an artist too</h2>
    </div>

</div>

<div class="container-fluid">
    <div class="col-md-12">

        <div class="col-md-push-3 col-md-3 squareBox text-center">
            <p>
                Get a personal design by using our creator,
                you can become an artist, just grab a set and start creating squares.
            </p>
            <br />


            <p>
                Share your squares with your friends and find trending new designers easily,
                get your custom squares on t-shirts and many more.
            </p>
        </div>

        <div class="col-md-push-3 col-md-3 squareBoximg">
        
                    <img src="~/Assets/images/11.jpg" width="280" height="280" />

                </div>
      
    </div>

    <div class="col-md-12">
        <div class="col-md-push-3 col-md-3 squareBox text-center">
            <p>
                Bringing designers and customers together so they can create together.
            </p>
            <p>
                Are you a designer?
                Then this is the place for you to create squares and start earning money today.
                <br/>
            </p>
            <p>
                Are intersted in buying?
                Some text regarding what the customer can do.
            </p>
        </div>
        <div class="col-md-push-3 col-md-3 squareBoximg">
            <img src="~/Assets/images/13.jpg" width="280" height="280"/>
        </div>
    </div>

    <div class="col-md-12">

        <div class="col-md-push-3 col-md-3 squareBox text-center">
            <p>
                Bringing designers and customers together so they can create together.
            </p>
            <p>
                Are you a designer?
                Then this is the place for you to create squares and start earning money today.
                <br />
            </p>
            <p>
                Are interested in buying?
                Some text regarding what the customer can do.
            </p>
        </div>


        <div class="col-md-push-3 col-md-3 squareBoximg">
            <img src="~/Assets/images/16.jpg" width="280" height="280" />
        </div>
     
    </div>
</div>
