
<html ng-app="squareApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>

<div ng-show="login"></div>
</body>
</html>

<div ng-app="squareApp">

    
</div>

@Html.ActionLink("Explore", "Explore", "Home")
@Html.ActionLink("Create", "CreateDesign", "Home")